## 1. Remove characters with odd index values from a string

In [3]:
string = input("Enter a string: ")
result = string[::2]
print(f"String after removing odd index characters: {result}")

Enter a string:  kunal

String after removing odd index characters: knl

## 2. Count strings where length >= 2 and first/last characters are the same

In [6]:
strings = ["abc", "xyz", "aba", "1221"]
count = sum(1 for s in strings if len(s) >= 2 and s[0] == s[-1])
print(f"Count of such strings: {count}")

Count of such strings: 2

## 3. Check if a number is within 100 of 1000 or 2000

In [15]:
num = int(input("Enter a number: "))
if abs(1000 - num) <= 100 or abs(2000 - num) <= 100:
    print("The number is within 100 of 1000 or 2000")
else:
    print("The number is not within 100 of 1000 or 2000")

Enter a number:  950

The number is within 100 of 1000 or 2000

## 4. Determine if a number is even or odd

In [20]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter a number:  45

The number is odd

## 5. Check if a letter is a vowel

In [27]:
letter = input("Enter a letter: ").lower()
if letter in 'aeiou':
    print("The letter is a vowel")
else:
    print("The letter is not a vowel")

Enter a letter:  k

The letter is not a vowel

## 6. Determine class based on percentage

In [34]:
marks = int(input("Enter marks percentage: "))
if marks >= 70:
    print("Distinction")
elif 60 <= marks < 70:
    print("Merit")
elif 40 <= marks < 60:
    print("Pass")
else:
    print("Fail")

Enter marks percentage:  65

Merit

## 7. Check if a number is a multiple of 5

In [37]:
num = int(input("Enter a number: "))
if num % 5 == 0:
    print("The number is a multiple of 5")
else:
    print("The number is not a multiple of 5")

Enter a number:  45

The number is a multiple of 5

## 8. Generate an error message if input is not a number

In [40]:
try:
    num = float(input("Enter a number: "))
    print(f"You entered the number: {num}")
except ValueError:
    print("Error: Input is not a number")

Enter a number:  46

You entered the number: 46.0

## 9. Check if a year is a leap year

In [43]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year:  2024

2024 is a leap year

## 10. Find the greatest of three numbers

In [46]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
print(f"The greatest number is: {max(a, b, c)}")

Enter first number:  5
Enter second number:  7
Enter third number:  9

The greatest number is: 9

## 11. Display day name based on number

In [49]:
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
day_number = int(input("Enter a day number (1-7): "))
if 1 <= day_number <= 7:
    print(f"The day is {days[day_number - 1]}")
else:
    print("Invalid day number")

Enter a day number (1-7):  5

The day is Thursday

## 12. Display number of days in a month

In [52]:
month = int(input("Enter a month number (1-12): "))
if month in [1, 3, 5, 7, 8, 10, 12]:
    print("31 days")
elif month in [4, 6, 9, 11]:
    print("30 days")
elif month == 2:
    print("28 or 29 days (depending on the year)")
else:
    print("Invalid month number")

Enter a month number (1-12):  6

30 days

## 13. Menu-driven calculator

In [59]:
def calculator():
    print("Menu:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    choice = int(input("Enter your choice: "))
    a = float(input("Enter first number: "))
    b = float(input("Enter second number: "))

    if choice == 1:
        print(f"Result: {a + b}")
    elif choice == 2:
        print(f"Result: {a - b}")
    elif choice == 3:
        print(f"Result: {a * b}")
    elif choice == 4:
        if b != 0:
            print(f"Result: {a / b}")
        else:
            print("Division by zero is not allowed")
    else:
        print("Invalid choice")

calculator()

Menu:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter your choice:  2
Enter first number:  6
Enter second number:  8

Result: -2.0

## 14. Calculate payable amount with discount

In [62]:
purchase_amount = float(input("Enter the purchase amount: "))
if purchase_amount >= 8000:
    discount = 0.10
elif purchase_amount >= 5000:
    discount = 0.08
elif purchase_amount >= 1000:
    discount = 0.04
else:
    discount = 100 / purchase_amount

payable = purchase_amount * (1 - discount)
print(f"Amount payable after discount: {payable:.2f}")

Enter the purchase amount:  5000

Amount payable after discount: 4600.00

## 15. Calculate total salary with HRA, DA, and TA

In [67]:
basic_salary = float(input("Enter basic salary: "))
if basic_salary >= 10000:
    hra = 0.08 * basic_salary
    da = 0.07 * basic_salary
    ta = 0.08 * basic_salary
elif basic_salary >= 5000:
    hra = 0.06 * basic_salary
    da = 0.05 * basic_salary
    ta = 0.07 * basic_salary
else:
    hra = 0.05 * basic_salary
    da = 0.05 * basic_salary
    ta = 0.07 * basic_salary

total_salary = basic_salary + hra + da + ta
print(f"Total salary: {total_salary:.2f}")

Enter basic salary:  10000

Total salary: 12300.00